# Konfigurasi Database (MySQL)
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=eduranker
DB_PORT=3306

# Set "true" jika menggunakan database cloud seperti Aiven atau PlanetScale yang butuh SSL
DB_SSL=false

# Konfigurasi Server
PORT=3000
